/* Adjust the particles container within the form */
.particles-container {
    position: absolute;
    width: 100%;
    height: 700px;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: -1;
}
