@tailwind base;
@tailwind components;
@tailwind utilities;

/* Text colour #495598 */
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.navbar-slide-down {
  animation: slideDown 0.5s ease-in-out forwards;
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.navbar-slide-up {
  animation: slideUp 0.5s ease-in-out forwards;
  position: absolute;
  top: 0;
  width: 100%;
}

/* CardGrid.css */

.animated-image {
  animation: upDown 1.5s ease-in-out infinite alternate;
}

.group:hover .animated-image {
  animation-delay: 1.5s;
}

@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
.header-test h1 {
  font-size: 66px;
  line-height: 142px;
  margin-left: -10px;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  background: url(./assets/image/bgImage/back.png);
  background-size: 200% 100%; /* Only stretch horizontally */
  background-clip: text;
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 10s linear 0.5s infinite forwards;
}
@media (max-width: 425px) {
  .header-test h1 {
    font-size: 40px;
    line-height: 72px;
  }
}

@keyframes back {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 100% 0%;
  }
}

.header-test2 {
  font-size: 16px;
  line-height: 1.3;
  width: 85%;
  text-align: center;
  display: inline-block;
}

@media screen and(max-width: 980px) {
  .header-test2 {
      margin: 0 0 10px;
      font-size: 16px;
      line-height: 1.3;
  }
}

@media screen and (max-width: 768px) {
  .header-test2 {
      position: absolute;
      top: 17rem;
      font-size: 12px;
  }
}

@media (max-width: 425px) {
  .header-test2 {
      position: absolute;
      top: 17rem;
      font-size: 12px;
      left: 5%;
  }
}

/* Confine particles to the form section */
.particles-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

}
/* fontawesome */
.gruppo-regular {
  font-family: "Gruppo", sans-serif;
  font-weight: 400;
  font-style: normal;
}
